.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.New_comment {
    display: flex;
    flex-direction: column;
    width: 464px;
    height: 368px;
    top: 0;
    left: 0;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;

    .New_comment_button_close {
        width: 40px;
        height: 40px;
        background-color: rgba(0,0,0,0);
        border: none;
        color: #BDBDBD;
        font-size: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        margin-left: auto;
        margin-bottom: -50px;
         }
                
    .New_comment_h1 {
        font-family: 'Roboto Slab';
        font-size: 22px;
        color: #333333;
        padding: 0 32px 0 32px;
        margin-bottom: 24px;
        text-align: left;
    }
    .New_comment_form {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .New_comment_form_block {
            display: flex;
            flex-direction: column;
                        
            .New_comment_form_block_lable {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #828282;
                text-align: left;
            }
            .New_comment_form_block_input {
                width: 400px;
                border: 1px solid #BDBDBD;
            }
            .New_comment_form_block_submit {
                display: flex;
                margin-top: 10px;
                justify-content: space-between;
                align-items: center;
                width: 400px;
                
                .New_comment_form_block_submit_lable {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    color: #828282;
                }
                .New_comment_form_block_submit_button {
                    background: #0073E6;
                    width: 192px;
                    height: 40px;
                    font-family: 'Roboto';
                    font-size: 14px;
                    align-items: center;
                    text-align: center;
                    color: #FFFFFF;
                    border: none;
                  }
            }
         }
    }
}

.New_comment_form_block_input_name {
    height: 32px;
}
.New_comment_form_block_input_text {
    height: 88px;
}
