$text-align: center;
$color-button: #0073E6;
$color-text: #FFFFFF;
$second-font:'Roboto Slab';
$line-height: 80%;
$strong: 700;
$normal: 400;
$h1-size: 22px;
$text-size: 14px;

.header {
    color: $color-text;
    position: absolute;
    width: 80vw;
    height: 48px;
    left: 0px;
    top: 0px;
    background: #4296EA;
    padding: 0 10% 0 10%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 2px;     
    &__link {
        font-family: $second-font;
        font-weight: $strong;
        font-size: $h1-size;
        line-height: $line-height;
        width: 28%;
        min-width: 100px;  
        }    
    &__form {
        font-weight: $normal;
        font-size: $text-size;
        text-align: $text-align;
        line-height: $line-height;
        display: flex;
        align-items: center;
        width: 24%;
        min-width: 140px;
        padding-left: 10px;
        &__input {
            background: $color-button;
            font-family: $second-font;
            color: $color-text;
            font-weight: $strong;
            font-size: $h1-size;
            text-align: $text-align;
            border-style: none;
            width: 40%;
            height: 46px;
            }
        &__lable{
            padding: 0 5px 0 5px;
        }
        }
    &__button {
        font-weight: $normal;
        background: $color-button;
        line-height: $line-height;
        text-align: $text-align;
        color: $color-text;
        width: 13%;
        height: 48px;
        border-style: none;
        min-width: 65px;
        }
    }
    