@import "/src/scss/variables.scss";

.footer {
    color: $color-gray;
    font-size: 12px;
    padding-top: 10px;
    background-color: $colot-light-gray;
    height: 90px;
    justify-self: end;
    &__text {
        margin-left: 5%;
    }
    }