$main-font: 'Roboto';

body {
  margin: 0;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
  
h2 {
  margin-top: 100px;
}
    
a {
  text-decoration: none;
  color: #FFFFFF;
}

input:focus {
  outline:0px;
}

button {
  font-family: $main-font;
}

.not-found {
  color: black;
}

.content {
  height: 80vh;
  padding: 15px 0 0 5%;
  font-size: 16px;
}

     