$main-font: 'Roboto';

body {
  padding: 0 10% 0 10%;
  margin: 0;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
  
h2 {
  margin-top: 100px;
}
    
a {
  text-decoration: none;
  color: #FFFFFF;
}

input:focus {
  outline: 1px solid black; 
}

button {
  font-family: $main-font;
}

.NotFound {
  color: black;
}

     