@import url('https://fonts.googleapis.com/css2? family= Roboto+Slab & display=swap');

$text-align: center;
$second-font:'Roboto Slab';
$line-height: 80%;
$strong: 700;
$normal: 400;
$h1-size: 22px;
$text-size: 14px;